<div class="sidebar">
	<h2>Interaction Log</h2>
	<div class="interaction-log" id="interaction-log">
		{% for interaction in interactions %}
		<div class="interaction-item" data-date="{{ interaction['Date of Event'] }}" data-sector="{{ interaction['Industry'] }}"
			data-interaction="{{ interaction['Event Type'] }}">
			<p><strong>Date:</strong> {{ interaction['Date of Event'] }}</p>
			<p><strong>Business:</strong> {{ interaction['Business Name'] }}</p>
			<p><strong>Event Type:</strong> {{ interaction['Event Type'] }}</p>
			<p><strong>Industry:</strong> {{ interaction['Industry'] }}</p>
			<p><strong>Event Host:</strong> {{ interaction['Event Host'] }}</p>
		</div>
		{% endfor %}
	</div>
</div>
